In [30]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from pycaret.classification import *

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
submission_df = pd.read_csv("sample_submission.csv")

def preprocess(df, is_train=True):
    def compute_total_exp(x):
        return x["RoomService"] + x["FoodCourt"] + x["ShoppingMall"] + x["Spa"] + x["VRDeck"]

    df.loc[:, "TotalExp"] = df.apply(compute_total_exp, axis=1)
    df[["CabinDeck", "CabinNum", "CabinSide"]] = df.Cabin.str.split("/", expand=True)
    df[["PassengerGroup", "PassengerNum"]] = df.PassengerId.str.split("_", expand=True)
    df.PassengerGroup = df.PassengerGroup.astype(int)
    
    df.CryoSleep = df.CryoSleep.map(lambda x: 1 if not np.isnan(x) and x == True else 0)
    df.VIP = df.VIP.map(lambda x: 1 if not np.isnan(x) and x == True else 0)
    
    if is_train:
        df.Transported = df.Transported.astype(int)

    df = df.drop(["PassengerId", "Name", "Cabin", "PassengerNum"], axis=1)
    
    return df

train_df = preprocess(train_df)
test_df = preprocess(test_df, is_train=False)
train_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,TotalExp,CabinDeck,CabinNum,CabinSide,PassengerGroup
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0,B,0,P,1
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1,736.0,F,0,S,2
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,10383.0,A,0,S,3
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,5176.0,A,0,S,3
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1,1091.0,F,1,S,4

In [31]:
numeric_cols = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck", "TotalExp", "CabinNum"]
categorical_cols = ["HomePlanet", "CryoSleep", "Destination", "VIP", "CabinDeck", "CabinSide"]

for numeric_col in numeric_cols:
    imputer = SimpleImputer(missing_values=np.nan, strategy='median')
    train_df[numeric_col] = imputer.fit_transform(train_df[numeric_col].values.reshape(-1, 1))
    test_df[numeric_col] = imputer.transform(test_df[numeric_col].values.reshape(-1, 1))

for categorical_col in categorical_cols:
    imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
    train_df[categorical_col] = imputer.fit_transform(train_df[categorical_col].values.reshape(-1, 1))
    test_df[categorical_col] = imputer.transform(test_df[categorical_col].values.reshape(-1, 1))

In [32]:
for numeric_col in numeric_cols:
    scaler = StandardScaler()
    train_df[numeric_col] = scaler.fit_transform(train_df[numeric_col].values.reshape(-1, 1))
    test_df[numeric_col] = scaler.transform(test_df[numeric_col].values.reshape(-1, 1))

for categorical_col in categorical_cols:
    encoder = LabelEncoder()
    train_df[categorical_col] = encoder.fit_transform(train_df[categorical_col].values.reshape(-1, 1))
    test_df[categorical_col] = encoder.transform(test_df[categorical_col].values.reshape(-1, 1))

train_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,TotalExp,CabinDeck,CabinNum,CabinSide,PassengerGroup
0,1,0,2,0.711945,0,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,0,-0.520480,1,-1.177238,0,1
1,0,0,2,-0.334037,0,-0.168073,-0.275387,-0.241771,0.217158,-0.224205,1,-0.248103,5,-1.177238,1,2
2,1,0,2,2.036857,1,-0.268001,1.959998,-0.283579,5.695623,-0.219796,0,3.322033,0,-1.177238,1,3
3,1,0,2,0.293552,0,-0.333105,0.523010,0.336851,2.687176,-0.092818,0,1.395040,0,-1.177238,1,3
4,0,0,2,-0.891895,0,0.125652,-0.237159,-0.031059,0.231374,-0.261240,1,-0.116726,5,-1.175264,1,4

In [33]:
from pycaret.classification import *

setup_clf = setup(data=train_df, target='Transported',
                  feature_selection=True, 
                  fix_imbalance=True, )

In [34]:
compare_models()

In [36]:
catboost = create_model("catboost")

In [37]:
tuned_model = tune_model(catboost, n_iter=300)

In [38]:
bagging_model = ensemble_model(tuned_model, n_estimators=500)

In [39]:
predict_model(bagging_model)

,CabinDeck_0,TotalExp,ShoppingMall,Destination_2,PassengerGroup,FoodCourt,CryoSleep_1,CabinDeck_1,Spa,HomePlanet_2,...,Destination_1,CabinNum,HomePlanet_1,CabinSide_1,RoomService,VIP_1,Destination_0,Transported,Label,Score
0,0.0,-0.520480,-0.283579,1.0,3292.0,-0.281027,0.0,1.0,-0.270626,0.0,...,0.0,-0.938395,1.0,1.0,-0.333105,1.0,0.0,1,1,0.7556
1,0.0,-0.207025,1.132874,0.0,4938.0,-0.281027,0.0,0.0,-0.270626,0.0,...,0.0,0.409786,0.0,1.0,-0.333105,0.0,1.0,1,1,0.9298
2,0.0,-0.520480,-0.283579,0.0,3605.0,-0.281027,1.0,0.0,-0.270626,0.0,...,0.0,-0.008683,0.0,0.0,-0.333105,0.0,1.0,1,1,0.7342
3,0.0,0.221525,-0.056144,1.0,444.0,-0.281027,0.0,0.0,-0.270626,0.0,...,0.0,-0.981821,0.0,0.0,2.496651,1.0,0.0,0,0,0.9325
4,0.0,1.126734,6.335452,1.0,7904.0,-0.276013,0.0,0.0,-0.270626,0.0,...,0.0,1.343445,0.0,0.0,0.401209,0.0,0.0,1,0,0.5473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2603,0.0,-0.520480,-0.283579,0.0,2881.0,-0.281027,0.0,0.0,-0.270626,0.0,...,0.0,-0.275161,0.0,1.0,-0.333105,0.0,1.0,0,0,0.6429
2604,1.0,0.267415,-0.283579,1.0,3781.0,0.320591,0.0,0.0,-0.246637,0.0,...,0.0,-1.090386,1.0,1.0,0.909929,0.0,0.0,0,0,0.7759
2605,1.0,4.497029,-0.206652,0.0,2506.0,1.289445,0.0,0.0,9.503716,0.0,...,0.0,-1.139734,0.0,0.0,-0.333105,0.0,1.0,0,0,0.9431
2606,0.0,-0.227379,-0.283579,0.0,5027.0,0.180840,0.0,0.0,-0.225313,0.0,...,0.0,-0.543613,0.0,1.0,-0.327048,0.0,1.0,0,1,0.7064
2607,0.0,-0.520480,-0.283579,1.0,3499.0,-0.281027,0.0,0.0,-0.270626,0.0,...,0.0,-0.044213,0.0,0.0,-0.333105,0.0,0.0,1,0,0.5149

In [40]:
final_model = finalize_model(bagging_model)

In [41]:
pred = predict_model(final_model, data=test_df)
pred = pred.Label.values

In [42]:
submission_df.loc[:, "Transported"] = [True if p == 1 else False for p in pred]
submission_df.to_csv("catboost_bagging_submission.csv", index=False)